 body 
    {
        color: #333;
        text-align: center;
        background-color: #E6E6FA;
        font-family: "Arial";
        margin: 0;
        padding: 0;
        font-size: 16px;
    }

    #containers
    {
        width: 70%;
        padding: 1em;
        text-align: left;
        border: 1px solid #333;
     
    }
    #containers h1
    {
         font-size: 20px;
    }